<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>hello world</title>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.js"></script>
    <script src="plugin/javascript/semantic.js"></script>
    <link rel="stylesheet" type="text/css" href="index.css">
    <link rel="stylesheet" type="text/css" href="plugin/css/semantic.css">
    <!--[STYLES]-->
</head>
<body>
  <!--  <h1>hello world</h1>
    {{{unit name="foo"}}}-->
    {{{unit name="head"}}}
    <script type="text/javascript" src="../lib/md.js"></script>
    <!--[SCRIPTS]-->
    <script type="text/javascript" src="index.js"></script>
</body>
</html>
