<div class="ui large vertical inverted labeled icon sidebar menu" id="menu">
    <a class="hide item">
        <i class="close icon"></i> 关闭
    </a>

    <div class="item">
        <div class="menu">
            <a class="item" href="/collections/menu.html">菜单1</a>
            <a class="item" href="/collections/form.html">表单2</a>
            <a class="item" href="/collections/table.html">表格3</a>
        </div>
    </div>
</div>
<div class="ui fixed transparent inverted main menu">
    <div class="container">
        <a class="launch item"><i class="icon list layout"></i></a>

        <div class="title item">
            <%= title %>
        </div>
    </div>
</div>